# Environments
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/

# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class
agents/nnw_writer_ancientworldaffections
agents/nnw_writer_citymystic


# IDE / Editor
.idea/
.vscode/
*.swp
*.swo

# Config overrides (if user creates one)
config.yaml
